docx4all/src/main/java/org/plutext/client/webservice/PlutextWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.plutext.org/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.plutext.org/" xmlns:intf="http://server.plutext.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.plutext.org/" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTransforms">
    <complexType>
     <sequence>
      <element name="docID" type="xsd:string"/>
      <element name="firstSequenceNumber" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTransformsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getTransformsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSkeletonDocument">
    <complexType>
     <sequence>
      <element name="docID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSkeletonDocumentResponse">
    <complexType>
     <sequence>
      <element name="getSkeletonDocumentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="putMainDocumentPart">
    <complexType>
     <sequence>
      <element name="docID" type="xsd:string"/>
      <element name="xml" type="xsd:string"/>
      <element name="message" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="putMainDocumentPartResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="putMainDocumentPartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="reportRecentChanges">
    <complexType>
     <sequence>
      <element name="docID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="reportRecentChangesResponse">
    <complexType>
     <sequence>
      <element name="reportRecentChangesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="reportVersionHistory">
    <complexType>
     <sequence>
      <element name="docID" type="xsd:string"/>
      <element name="chunkID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="reportVersionHistoryResponse">
    <complexType>
     <sequence>
      <element name="reportVersionHistoryReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="transform">
    <complexType>
     <sequence>
      <element name="docID" type="xsd:string"/>
      <element name="xml" type="xsd:string"/>
      <element name="message" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="transformResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="transformReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="transformResponse">

      <wsdl:part element="impl:transformResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="putMainDocumentPartResponse">

      <wsdl:part element="impl:putMainDocumentPartResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSkeletonDocumentResponse">

      <wsdl:part element="impl:getSkeletonDocumentResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="transformRequest">

      <wsdl:part element="impl:transform" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSkeletonDocumentRequest">

      <wsdl:part element="impl:getSkeletonDocument" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="putMainDocumentPartRequest">

      <wsdl:part element="impl:putMainDocumentPart" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="reportVersionHistoryResponse">

      <wsdl:part element="impl:reportVersionHistoryResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTransformsResponse">

      <wsdl:part element="impl:getTransformsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTransformsRequest">

      <wsdl:part element="impl:getTransforms" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="reportRecentChangesResponse">

      <wsdl:part element="impl:reportRecentChangesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="reportVersionHistoryRequest">

      <wsdl:part element="impl:reportVersionHistory" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="reportRecentChangesRequest">

      <wsdl:part element="impl:reportRecentChanges" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="PlutextWebService">

      <wsdl:operation name="getTransforms">

         <wsdl:input message="impl:getTransformsRequest" name="getTransformsRequest"/>

         <wsdl:output message="impl:getTransformsResponse" name="getTransformsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSkeletonDocument">

         <wsdl:input message="impl:getSkeletonDocumentRequest" name="getSkeletonDocumentRequest"/>

         <wsdl:output message="impl:getSkeletonDocumentResponse" name="getSkeletonDocumentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="putMainDocumentPart">

         <wsdl:input message="impl:putMainDocumentPartRequest" name="putMainDocumentPartRequest"/>

         <wsdl:output message="impl:putMainDocumentPartResponse" name="putMainDocumentPartResponse"/>

      </wsdl:operation>

      <wsdl:operation name="reportRecentChanges">

         <wsdl:input message="impl:reportRecentChangesRequest" name="reportRecentChangesRequest"/>

         <wsdl:output message="impl:reportRecentChangesResponse" name="reportRecentChangesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="reportVersionHistory">

         <wsdl:input message="impl:reportVersionHistoryRequest" name="reportVersionHistoryRequest"/>

         <wsdl:output message="impl:reportVersionHistoryResponse" name="reportVersionHistoryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="transform">

         <wsdl:input message="impl:transformRequest" name="transformRequest"/>

         <wsdl:output message="impl:transformResponse" name="transformResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PlutextServiceSoapBinding" type="impl:PlutextWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTransforms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTransformsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTransformsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSkeletonDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSkeletonDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSkeletonDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="putMainDocumentPart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="putMainDocumentPartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="putMainDocumentPartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reportRecentChanges">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reportRecentChangesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reportRecentChangesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="reportVersionHistory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reportVersionHistoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reportVersionHistoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="transform">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="transformRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="transformResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PlutextService">

      <wsdl:port binding="impl:PlutextServiceSoapBinding" name="PlutextService">

         <wsdlsoap:address location="http://plutext.org/alfresco/api/PlutextService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
